Covariance and correlation

In [21]:
import seaborn as sns
import numpy as np

In [22]:
df = sns.load_dataset('healthexp')
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [23]:
df.cov()

ValueError: could not convert string to float: 'Germany'