In [1]:
#measure of central tendency
age = [23,45,45,95,67,46,87,65,86,98,65,34,12]

In [2]:
import numpy as np
np.mean(age)

59.07692307692308

In [3]:
Weights = [23,45,35,95,67,46,87,65,86,98,65,34,57]

In [4]:
len(Weights)

13

In [5]:
np.mean(Weights)

61.76923076923077

In [6]:
import seaborn as sns
df = sns.load_dataset('tips')

In [7]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
np.mean(df['total_bill'])

19.78594262295082

In [10]:
# Median

In [11]:
np.median(age)

65.0

In [12]:
age = [23,45,35,95,67,46,87,65,86,98,65,34,57,200]

In [13]:
np.mean(age)

71.64285714285714

In [14]:
np.median(age)

65.0

In [15]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7e57831ca770>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/scipy/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7e57831ca980>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/scipy/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7e57831cab90>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/scipy/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7e57831cad40>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/scipy/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7e57831caef0>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/scipy/
ERROR: Could not find a version that satisfies the requirement scipy (from versions: none)
ERROR: No matching distribution found for scipy
Note: you may need to restart the kernel to use updated packages.

In [16]:
#use for mode another lib
from scipy import stats

ModuleNotFoundError: No module named 'scipy'

In [ ]:
stats.mode(age)